@import "tailwindcss";

@theme {
    /* Colors */
    --color-text: #000000;
    --color-text-sub: #717182;
    --color-text-line: #a7a8b4;
    --color-container-shadow: #e0e3e6;
    --color-input: #f3f3f5;
    --color-input-shadow: #cbced1;
    --color-input-border: #a6a7a7;
    --color-input-checked: #818089;
    --color-button-inactive: #818089;
    --color-priority-high-container: #ffe2e2;
    --color-priority-high-text: #9e0812;
    --color-priority-high-border: #e5cbcb;
    --color-priority-medium-container: #fff9c2;
    --color-priority-medium-text: #894b00;
    --color-priority-medium-border: #e5e0af;
    --color-priority-low-container: #dcfce6;
    --color-priority-low-text: #016630;
    --color-priority-low-border: #c5e2cf;
    --color-container: #fff;
    --color-background: linear-gradient(to bottom right, #f0f6ff 0%, #ffffff 50%, #faf5ff 100%);
    --color-border: #e8e8e8;
    --color-progress: linear-gradient(to right, #2d7fff, #ad47ff);
        
    --color-status-complete: #18D16F;
    --color-status-cancel: #FF2626;

    /* Fonts */
    --font-gaegu: 'Gaegu', serif;
    --font-title: 'Beleriand', sans-serif;
}

:root {
    overflow-x: hidden;
    font-family: 'Gaegu', sans-serif;
}


html {
    min-height: 100vh;
    background: var(--color-background);
}

body {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
}

p, span, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.input {
    background: var(--color-input);
    outline: none;
    transition: all 0.3s ease;
}

.input:focus {
    box-shadow: 0 0 0 3px var(--color-input-border);
    transform: translateY(-1px);
}

.container {
    background: var(--color-container);
    border: var(--color-border) solid 1px;
    border-radius: 14px;
}

.container:hover {
    box-shadow: 0 3px 6px 1px var(--color-container-shadow);
    transition: box-shadow;
    transition-duration: 0.3s;
}

.login {
    background: var(--color-container);
    border: var(--color-border) solid 1px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 1px var(--color-container-shadow);
}

.custom-checkbox {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid var(--color-border);
    border-radius: 6px;
    background-color: var(--color-input);
    display: inline-grid;
    place-content: center;
    cursor: pointer;
}

.custom-checkbox:checked {
    background-color: var(--color-input-checked);
    border-color: var(--color-border);
}

.custom-checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.custom-checkbox:checked::before {
    transform: scale(1);
}

@keyframes gradient {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

.animate-gradient {
    animation: gradient 4s ease infinite;
}

.error-tooltip {
    @apply absolute left-1/2 -translate-x-1/2 top-full mt-2;
    @apply bg-status-cancel text-white text-xs px-3 py-1.5 rounded-md shadow-lg;
    @apply z-50 whitespace-nowrap pointer-events-none font-gaegu;
}

.error-arrow {
    @apply absolute bottom-full left-1/2 -translate-x-1/2;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ff4d4f; /* Замініть на ваш колір status-cancel */
}


@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/src/assets/font/Nunito/static/Nunito-Regular.ttf');
}

@media only screen and (max-width: 1100px) {
    :root {
        overflow-y: scroll;
    }
}